body.custom-bg {
    background: linear-gradient(180deg, #ff69b4, #db7093), url('../img/fondopica.jpg') no-repeat center center fixed;
    background-blend-mode: overlay;
    background-size: cover;
}

.nav-button {
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.5rem 1rem;
    flex-grow: 1;
    text-align: center;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

nav {
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.main-image {
    width: 60vw;
    max-width: 100%;
    height: auto;
    margin-top: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.fechas {
    text-align: left;
}

.imgmaschica {
    width: 30%;
}

.discomaschico {
    width: 40%;
}

.integrantes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.integrante {
    display: flex;
    align-items: flex-start;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
}

.integrante-img {
    max-width: 200px;  
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}

.agranda-img {
    max-width: 300px; 
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.integrante h3, .integrante p {
    margin: 0;
}

.ajustaalturaimg {
    max-height: 400px; 
    width: auto; 
    border-radius: 0.5rem; 
    display: block;
    margin: 0 auto; 
}


.ajusta-contenedor {
    margin-right: 1rem; 
}

.ajusta-bg {
    background-color: #bb308a; 
}

.footer-button {
    background-color: rgba(201, 163, 40, 0.589);
    color: #000; 
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 0 10px;
}

.footer-button:hover {
    background-color: #e6b620; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

form {
    font-size: 1.25em;
    text-align: center;
}
