body.custom-bg {
    background: linear-gradient(180deg, #ff69b4, #db7093), url('../img/fondopica.jpg') no-repeat center center fixed;
    background-blend-mode: overlay;
    background-size: cover;
}

.nav-button {
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.5rem 1rem;
    flex-grow: 1;
    text-align: center;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

nav {
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.main-image {
    width: 60vw;
    max-width: 100%;
    height: auto;
    margin-top: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
